<cyber>
    <module>
        <name>camera</name>
        <dag_conf>modules/drivers/camera/dag/camera_front.dag</dag_conf>
        <process_name>usb_cam</process_name>
    </module>

    <module>
        <name>camera</name>
        <dag_conf>modules/drivers/camera/dag/camera_left_front.dag</dag_conf>
        <process_name>usb_cam</process_name>
    </module>

    <module>
        <name>camera</name>
        <dag_conf>modules/drivers/camera/dag/camera_right_front.dag</dag_conf>
        <process_name>usb_cam</process_name>
    </module>

    <module>
        <name>camera</name>
        <dag_conf>modules/drivers/camera/dag/camera_right.dag</dag_conf>
        <process_name>usb_cam</process_name>
    </module>

    <module>
        <name>camera</name>
        <dag_conf>modules/drivers/camera/dag/camera_rear.dag</dag_conf>
        <process_name>usb_cam</process_name>
    </module>

    <module>
        <name>camera</name>
        <dag_conf>modules/drivers/camera/dag/camera_left.dag</dag_conf>
        <process_name>usb_cam</process_name>
    </module>
</cyber>
