<cyber>
    <desc>Apollo drivers</desc>
    <version>1.0.0</version>
    <module>
        <name>gnss</name>
        <dag_conf>/apollo/modules/drivers/gnss/dag/gnss.dag</dag_conf>
        <process_name>gnss</process_name>
    </module>

    <module>
        <name>hesai40</name>
        <dag_conf>/apollo/modules/drivers/lidar/hesai/dag/hesai40.dag</dag_conf>
        <process_name>hesai</process_name>
    </module>

    <module>
        <name>static_transform</name>
        <dag_conf>/apollo/modules/transform/dag/static_transform.dag</dag_conf>
        <process_name></process_name>
    </module>

    
    <desc>Apollo lidar 3d object detection</desc>
    <version>1.0.0</version>
    <module>
        <name>lidar</name>
        <dag_conf>/apollo/modules/perception/msg_adapter/dag/msg_adapter.dag</dag_conf>
        <dag_conf>/apollo/modules/perception/pointcloud_preprocess/dag/pointcloud_preprocess.dag</dag_conf>
        <dag_conf>/apollo/modules/perception/pointcloud_map_based_roi/dag/pointcloud_map_based_roi.dag</dag_conf>
        <dag_conf>/apollo/modules/perception/pointcloud_ground_detection/dag/pointcloud_ground_detection.dag</dag_conf>
        <dag_conf>/apollo/modules/perception/lidar_detection/dag/lidar_detection.dag</dag_conf>
        <!-- <dag_conf>/apollo/modules/perception/lidar_detection_filter/dag/lidar_detection_filter.dag</dag_conf> -->
        <dag_conf>/apollo/modules/perception/lidar_tracking/dag/lidar_tracking.dag</dag_conf>
        <process_name>lidar</process_name>
        <version>1.0.0</version>
    </module>
    
    <desc>Apollo localization</desc>
    <version>1.0.0</version>
    <!-- <module>
        <name>localization</name>
        <dag_conf>/apollo/modules/localization/dag/dag_streaming_msf_localization.dag</dag_conf>
        <process_name>localization</process_name>
    </module> -->

    <module>
        <name>localization</name>
        <dag_conf>/apollo/modules/localization/dag/dag_streaming_rtk_localization.dag</dag_conf>
        <process_name>localization</process_name>
    </module>
    

    <module>
        <name>old_routing_adapter</name>
        <dag_conf>/apollo/modules/external_command/old_routing_adapter/dag/old_routing_adapter.dag</dag_conf>
        <process_name>old_routing_adapter</process_name>
    </module>
    
    <module>
        <name>external_command_process</name>
        <dag_conf>/apollo/modules/external_command/process_component/dag/external_command_process.dag</dag_conf>
        <process_name>external_command_process</process_name>
    </module>
</cyber>

