<cyber>
    <module>
        <name>gnss</name>
        <dag_conf>modules/drivers/gnss/dag/gnss.dag</dag_conf>
        <process_name>gnss</process_name>
    </module>

    <!-- <module>
        <name>camera</name>
        <dag_conf>modules/drivers/camera/dag/camera.dag</dag_conf>
        <process_name>usb_cam</process_name>
    </module> -->

    <module>
        <name>lidar_driver</name>
        <dag_conf>modules/drivers/lidar/vanjeelidar/dag/vanjeelidar_up.dag</dag_conf>
        <dag_conf>modules/drivers/lidar/vanjeelidar/dag/vanjeelidar_left.dag</dag_conf>
        <dag_conf>modules/drivers/lidar/vanjeelidar/dag/vanjeelidar_right.dag</dag_conf>
        <dag_conf>modules/drivers/lidar/fusion/dag/fusion.dag</dag_conf>
        <dag_conf>modules/drivers/lidar/compensator/dag/compensator.dag</dag_conf>
        <process_name>lidar_driver</process_name>
    </module>

    <module>
        <name>static_transform</name>
        <dag_conf>modules/transform/dag/static_transform.dag</dag_conf>
        <process_name></process_name>
    </module>
    
    <!--<module>
        <name>localization</name>
        <dag_conf>modules/localization/dag/dag_streaming_rtk_localization.dag</dag_conf>
        <process_name>localization</process_name>
    </module> -->
    
</cyber>
